<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>976234070051-cltc2njh4gig2bg6tcfl0u1qm6jr38r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976234070051-cltc2njh4gig2bg6tcfl0u1qm6jr38r8</string>
	<key>API_KEY</key>
	<string>AIzaSyAf19vW-5K6lUSYoyXgAKqQAaShHHB7Tec</string>
	<key>GCM_SENDER_ID</key>
	<string>976234070051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.angieta.Continue</string>
	<key>PROJECT_ID</key>
	<string>foodmates-f682c</string>
	<key>STORAGE_BUCKET</key>
	<string>foodmates-f682c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976234070051:ios:0e1a74049c84cc37</string>
	<key>DATABASE_URL</key>
	<string>https://foodmates-f682c.firebaseio.com</string>
</dict>
</plist>